html, body{
	color: #172640;
	font-family: 'Montserrat', sans-serif;	font-weight: 400;
	scroll-behavior: smooth;
	background-color: #EEEEEE;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1666.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

section {
	margin: 0!important;
	padding: 0!important;
}

section {
	scroll-margin-top: 110px; /* Ajuste de desplazamiento para el navbar */
}


div{
	margin: 0!important;
}

::selection {
	color: #172640;
	background: #c6981e;
}

.navbar{
	background-color: #EEEEEE;
	font-size: .5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	filter: drop-shadow(0 0 0.25rem #000);
}

.bg {
	height: fit-content;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: justify;
}

.bg-b {
	height: fit-content;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: justify;
	color: #fff;
}

.section-b{
	color: #fff;
}

.bg-b, .footer, .section-b, .section-mid{
	background-color: #172640;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='1666.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.01'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}


.nav-logo{
	width: 12rem;
	height: auto;
}

.nav-item{
	text-align: center;
}

#contacto a{
	color: #fff;
}

#contacto a:hover{
	color: #c6981e
}


.navbar a{
	color: #172640;
}

.navbar a:hover{
	color: #c6981e;
}


.logo-esurha{
	height: 30rem;
}

.logo-home{
	height: 20rem;
}

.dept{
	background-color: #FFFFFF!important;
}

.mid-pad{
	text-align: center;
}

.mid-pad h2{
	color: #fff;
}


.esurha img{
	filter: brightness(0) invert(1);
}

.convista img{
	filter: invert(1);
}

.map-container{
	overflow:hidden;
	position:relative;
	height: 0;
}

.map-container iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
	background-color: #fff;
}


.section-img{
	width: 100%!important;
}

.section-mid{
	height: fit-content;
	background-color: #172640;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 5rem!important;
}

.section-mid h2{
	color: #fff;
}



video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 50%;
	pointer-events: none;
}

.esurha {
	height: 100vh;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	pointer-events: none;
}


.footer{
	color: #fff;
	background-color: #172640;
	height: fit-content;
}

.footer p{
	font-size: 1rem;
}

h1, h2{
	font-size: 3.5rem;
	font-weight: bolder;
	letter-spacing: .2rem;
	text-transform: uppercase;
}


h3{
	font-size: 1rem;
	font-weight: bolder;
	color: #c6981e;
	text-transform: uppercase;
}

h4{
	font-size: 2.25rem;
	font-weight: bolder;
	letter-spacing: .2rem;
	text-transform: uppercase;
}

h4 a{
	transition: .5s;
}

p{
	font-size: 1.5rem;
	font-weight: 500;
}

.section-mid p{
	color: #EEEEEE;
}

.btn{
	background-color: #172640;
}

.btn:hover{
	background-color: #c6981e;
	transform: translateY(-.25rem);
	color: #fff;
}

.btn2{
	background-color: #c6981e;
}

.btn2:hover{
	background-color: #9e7a18;
	transform: translateY(-.25rem);
	color: #fff;
}

.form-control{
	border-radius: 0;
}

.btn, .btn2{
	border-color: transparent;
	font-size: 1rem;
	transition: .5s;
	padding: 1.25rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: bolder;
	border-radius: 0;
	width: 20rem;
}

.navicon{
	height: 80px;
	transition: .5s;
	filter: brightness(0) invert(1);
}

.arrow-size{
	font-size: 3em;
	user-select: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 4px;
	padding-left: 4px;
}

.gallery{
	position: relative;
	height: fit-content;
}

.img-gallery{
	width: 100%;
	overflow: hidden;
	z-index: 2;
}

.img-gallery:hover{
	transform: scale(1.2);
}



.img-footer{
	height: 12rem;
	filter: brightness(0) invert(1);
}

.footer a{
	color: #fff;
	text-decoration: none;
	transition: .5s;
}

.footer a:hover{
	color: #c6981e;
}

.footer h2{
	font-size: 2.5rem;
}

span{
	color: #c6981e;
}

label{
	font-weight: bolder;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23,38,64,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
	border-color: transparent;
	margin-right: 10px;
}

.custom-toggler:focus,
.custom-toggler:active,
.custom-toggler:hover {
	box-shadow: none;
	outline: 0;
}


.logo-proyecto{
	height: 10rem;
	transition: .5s;
	filter: invert(100%);
}

.logo-proyecto:hover{
	transform: translateY(-10px);
}


.cv-btn{
	width: 100%;
}

.icon-size{
	vertical-align:bottom;
	font-size: 22px;
}

.convista{
	background-color: black;
	background-image: url("../img/convista/bg.png");
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-attachment: fixed;
}

.convista-f{
	background-color: black;
	background-image: url("../img/convista/cv-ft.png");
	background-size: cover;
	height: fit-content;
	background-position: center;
	color: #fff;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.convista-f p{
	font-size: 1.5rem;
}

.convista-f .btn{
	background-color: transparent;
	color: #FFFFFF;
	border: solid;
	border-color: #FFFFFF;
	border-width: thin;
}

.convista-f .btn:hover{
	background-color: #FFFFFF;
	color: black;
	border: solid;
	border-color: #FFFFFF;
	border-width: thin;
}


/* SCREEN */
@media only screen and (max-width: 1800px) {

	.logo-nav {
		width: 10rem;
	}


	.btn, .btn2{
		font-size: .875rem;
	}

	.section-img {
		width: fit-content;
		height: auto !important;
	}

}

/* Tablets (768px - 1024px) */
@media only screen and (max-width: 1024px) {

	h1, h2 {
		font-size: 2.5rem;
	}

	h3, p {
		font-size: 1.2rem;
	}

	h4{
		font-size: 2rem;
	}

	.logo-home{
		width: 20rem;
		height: auto;
	}

	.logo-esurha{
		width: 25rem;
		height: auto;
	}

}

/* Teléfonos grandes (425px - 767px) */
@media only screen and (max-width: 767px) {

	.navbar.sticky-top{
		position: static!important;
	}

	.main-logo {
		width: 80%;
		height: auto;
	}

	h1, h2 {
		font-size: 2rem;
	}


	h3, p {
		font-size: 1rem;
	}

	h4{
		font-size: 1.5rem;
	}

	.btn, .btn2{
		font-size: 0.8rem;
	}

	.convista{
		background-size: cover;
		background-attachment: scroll;
	}
}


/* Teléfonos medianos (375px - 424px) */
@media only screen and (max-width: 424px) {

	h1, h2 {
		font-size: 1.25rem;
	}

	h3, p {
		font-size: 0.85rem;
	}

	h4{
		font-size: 1rem;
	}

	.btn, .btn2{
		font-size: 0.75rem;
	}
}

/* Teléfonos pequeños (hasta 374px) */
@media only screen and (max-width: 374px) {

	h1, h2 {
		font-size: 1.1rem;
	}

	h3, h4, p {
		font-size: 0.8rem;
	}

	.btn, .btn2{
		font-size: 0.7rem;
	}
}


.deptx b{
	color: #c6981e;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #101b2d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #101b2d;
}


#wappBtn {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 90;
	outline: none; 
	background-color: #172640; 
	cursor: pointer;
	font-weight: bolder;
	border-color: #fff!important;
	border: solid;
	border-width: .25rem;
	transition: 0.5s ease;
	border-radius: 100%;
	padding: 1.2rem!important;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: drop-shadow(0 0 0.5rem #000);
}

#wappBtn:hover {
	background-color: #c6981e;
	transform: translateY(-.25rem);
}

.wapp{
	width: 3rem;
	pointer-events: none;
}

.copy{
	font-size: .5rem;
	letter-spacing: .1rem;
}

.img-border{
	border: solid;
	border-width: .05rem;
	border-color: #fff;
}

.img-gallery{
	display: block;
	width: 100%;
	height: auto!important;
	transition: 0.5s ease;
	overflow: hidden;
	z-index: 2;
	cursor: pointer;
}

.img-mrg{
	padding-right:0;
	padding-left:0;
	overflow: hidden;
}

.img-mrg:hover .img-gallery:hover{
	transform:scale(1.05);
}

img.zoom {
	width: 100%;
	height: 200px;
	border-radius:5px;
	object-fit:cover;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}


.transition {
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.preview-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out;
	z-index: 1050; /* Asegura que esté por encima de otros elementos */
}

.preview-overlay.active {
	opacity: 1;
	visibility: visible;
}
.preview-img {
	max-width: 85%;
	max-height: 85%;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, .1);
}
.close-preview {
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 3.5rem;
	color: #ebebeb;
	cursor: pointer;
}

textarea{
	resize: none;
}
